{{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="page-title">{{ heading_title }}</h1>
      {# <h1> About us Custom PAge </h1> #}
      {# {{ description }}{{ content_bottom }} #}

    {# Custom About us PAge Starts Here #}

    <div class="c--info my--1  bg--white">

<img data-aos="fade-right" data-aos-duration="700"
      class="c--flex-img"
      src="https://cdn.shopify.com/s/files/1/0108/8867/5428/t/17/assets/a80fa598692e--Website-SpiceMap-PragatiTurmeric.png?v=1618950454" width="300px"
      alt=""
   	/>
<h3 class="info--description">{{description}}
</h3>
</div>	


      </div>
    {{ column_right }}</div>
</div>
{{ footer }}